<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digiatl Payment</title>
    <meta charset="UTF-8">
        <!-- favicon -->
        <!-- <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <!-- <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"> -->
        <link rel="icon" type="image/JPG" sizes="16x16" href="/assets/img/favicon-32x32.png">
        <!-- bootstrap css cdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <!-- css stylesheet -->
        <link rel="stylesheet" href="static/css/style.css">
        <!-- font styles cdn -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap" rel="stylesheet">
        <style>
          .container
          {
            background-color: yellow;
          }
          .our-focus 
          {
            background-color: yellow;
          }
          .site-footer
          {
            background-color: yellow;
          }

          .container-fluid{
            background-color:yellow;
            width: 100%;
          }
          body{
            background-color:yellow;
          }
          .navbar{
            background-color:yellow;
          }
        </style>
</head>
<body  >
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="main-logo-img mt-3" href="#"><img src="/static/img/logo.jpg" alt="sheep-logo" height="80px" width="80%">
                <!-- <a class="navbar-brand" href="index.html">JobPortal</a> -->
              </a>
         <div class="ab">

              </div>
              <div class="row donate-sponsor">
                <a type="button" class="btn btn-success mr-1" id="donate" href="adminlogin">Admin Login</a>
                <a type="button" class="btn btn-warning mr-1" id="sponsor" href="newregister">User Register</a>
                <a type="button" class="btn btn-primary mr-1" id="sponsor" href="customerlogin">User Login</a>
                 <a type="button" class="btn btn-danger mr-1" id="sponsor" href="contactus">Contact Us</a>
              </div>
            </div>
          </nav>
          <!-- navbar ends -->

        <!-- what we focus on -->
        <section class="our-focus">
            <div class="container">
              <h2 class="text-center mt-3">Digital Payment Book</h2>
              <div class="row ml-3 mt-3">
                <div class="col-lg-3 mr-5" id="focus-first">
                  <div class="card" style="width: 19rem;">
                    <!-- <img src="assets/img/home kids.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Mission</h5>
                      <p class="card-text"> The present state-of-the-art payment systems that are affordable, accessible,
                        convenient, efficient, safe and secure are a matter of pride for the nation.
                        The systems and efforts have not only resulted in a rapid growth in digital
                        payments, but have also led to unique innovations.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 mr-5" id="focus-second">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/friendship day.JPG" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Vission</h5>
                      <p class="card-text">Improve the ease of conducting card/digital transactions for an individual. Reduce the risks and costs of handling cash at the individual level. Reduce costs of managing cash in the economy. Build a transactions history to enable improved credit access and financial inclusion. </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 ml-5" id="focus-third">
                  <div class="card" style="width: 20rem;">
                    <!-- <img src="assets/img/health camp.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                      <h5 class="card-title">Objective</h5>
                      <p class="card-text">Government of India is making efforts for promoting a less cash economy and to provide the facility of seamless digital payment to all citizens of India in a convenient.
                      Payment systems are achieving financial inclusion
                        and ensuring that economic benefits reach the bottom of the pyramid.
                       </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- focus section ends -->

        <!-- footer starts -->
          <!-- Site footer -->
          <footer class="site-footer">
            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-18 col-md-6">
                  <h3>Digital Payment</h3>
                  <p class="text-justify">Payment book application is designed to maintain customers, payments, and their purchases. A retailer will be an admin of the application and  Customers can create their account in the payment book app by reading and agree to the terms and conditions of the shop.


Once a user created their account they can login to their account by using their own credentials, users will be able to see their purchase history, pending payments, and also if the user is having any doubt or complaint they can contact the retailer by using the contact our service. Admin will maintain data about purchases made by the customers & can see payment details and pending payment of the customers. </p>
                </div>

                <div class="col-xs-6 col-md-3">
                  <h4>Get in Touch</h4>
                  <ul class="footer-links">
                    <li><a href="#">lokesh12215@gmail.com</a></li>
                    
                  </ul>
                </div>

                
              </div>
            <hr>
            
                
              </div>
            </div>
      </footer>
       

          </body>
</html>